$min-font-color: #20232a;
$desc-font-color: #818693;
.infoTip {
  color: #f58c21;
}
.order_content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 16px 18rpx 20rpx;
  position: relative;
  padding-top: 80px;
  box-sizing: border-box;

  .order_content_box {
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
  }
  .footer_order_buttom {
    position: fixed;
    display: flex;
    bottom: 48rpx;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60rpx);
    max-width: 420rpx;
    height: 88rpx;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50rpx;
    box-shadow: 0px 6rpx 10rpx 0px rgba(0, 0, 0, 0.25);
    z-index: 99;
    padding: 0rpx 10rpx;
    box-sizing: border-box;
    .order_number {
      position: relative;
      width: 120rpx;
      .order_number_icon {
        position: absolute;
        display: block;
        width: 120rpx; height: 118rpx;
        left: 12rpx; bottom: 0px;
      }
      .order_dish_num {
        position: absolute; z-index: 9;
        min-width: 12rpx; height: 36rpx; line-height: 36rpx;
        padding: 0 12rpx;
        left: 92rpx; top: -8rpx;
        font-size: 24rpx;
        border-radius: 20rpx;
        background-color: #e94e3c;
        color: #fff; font-weight: 500;
      }
    }
    .order_price {
      flex: 1;
      text-align: left; color: #fff;
      line-height: 88rpx; padding-left: 34rpx;
      font-size: 36rpx; font-weight: bold;
      .ico { font-size: 24rpx; }
    }
    .order_but {
      height: 72rpx; line-height: 72rpx;
      border-radius: 72rpx; text-align: center;
      margin-top: 8rpx; display: flex;
      .order_but_left {
        flex: 1;
        background-color: #473d26; color: #ffb302;
        border-radius: 72rpx 0 0 72rpx;
      }
      .order_but_rit {
        width: 200rpx; border-radius: 72rpx;
        background: #ffc200;
        font-size: 30rpx; font-weight: 500; color: #333333;
      }
    }
  }

  ::v-deep .order_list_cont {
    .order_list {
      margin-bottom: 20rpx;
      .order-type { padding: 40rpx 0 10rpx 0; }
      .type_item {
        display: flex; margin-bottom: 40rpx;
        &:last-child { margin-bottom: 0; }
        .dish_img {
          width: 90rpx; margin: 0 24rpx 0 20rpx;
          .dish_img_url {
            display: block; width: 90rpx; height: 90rpx;
            border-radius: 8rpx;
          }
        }
        .dish_info {
          position: relative; flex: 1; margin-right: 20rpx;
          .dish_name { font-size: 26rpx; color: #20232a; }
          .dish_price {
            font-size: 28rpx; color: #818693;
            height: 40rpx; line-height: 40rpx;
            margin-top: 10rpx; padding-left: 4rpx;
            .ico { font-size: 24rpx; }
            .dish_number { padding: 0 10rpx; font-size: 24rpx; }
          }
          .dish_active {
            position: absolute; right: 0; top: 0rpx;
            display: flex; font-size: 28rpx; color: #333;
            font-weight: 600; align-items: center;
            text { font-size: 24rpx; }
          }
        }
        &:last-child .dish_info { border-bottom: 0; }
      }
      .word_text {
        padding: 16rpx 0; margin: 0 20rpx;
        border-bottom: 1px solid #efefef;
        .word_style {
          font-size: 28rpx; font-weight: 500; color: #333333;
          line-height: 44rpx; padding-left: 6rpx;
        }
      }
    }
    .boxPad { padding-bottom: 170rpx; }
  }

  .pop_mask {
    position: fixed; width: 100%; height: 100vh;
    top: 0; left: 0; z-index: 999;
    background-color: rgba(0,0,0,0.4);
    .pop {
      width: calc(100% - 160rpx); max-width: 440rpx;
      position: relative; top: 40%; left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #fff; border-radius: 20rpx;
      .open_table_cont {
        padding-top: 60rpx;
        .cont_tit { font-size: 48rpx; color: #20232a; text-align: center; }
        .cont_desc { font-size: 32rpx; color: #818693; text-align: center; padding-bottom: 40rpx; }
      }
      .butList {
        background: #f7f7f7; display: flex; text-align: center; border-radius: 20rpx;
        .define, .cancel { flex: 1; font-size: 36rpx; line-height: 100rpx; }
      }
    }
  }

  ::v-deep .new_address {
    background-color: #fff; margin: 0 auto;
    border-radius: 8rpx; z-index: 10;
    margin-bottom: 20rpx; display: flex;
    flex-direction: column; font-size: 24rpx; padding-top: 32rpx;
    .top {
      margin: 0 20rpx 10rpx; flex: 1; display: flex;
      position: relative; align-items: center; padding-right: 30rpx;
      .address_name {
        flex: 1; overflow: hidden;
        .address {
          height: 50rpx; line-height: 50rpx;
          overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
          position: relative; padding-left: 76rpx;
          .tag { position: absolute; left: 0; top: 8rpx; }
          .word { font-size: 34rpx; font-weight: 550; color: #20232a; }
        }
        .name {
          height: 34rpx; line-height: 34rpx;
          margin: 20rpx 0 10rpx; color: #666;
          .name_1, .name_2 { font-size: 26rpx; color: #333333; }
          .name_2 { margin-left: 10rpx; }
        }
      }
      .address_image { display: inline-block; position: absolute; top: 8rpx; right: 0; }
    }
    .bottom {
      margin: 18rpx 20rpx 28rpx; box-sizing: border-box;
      .bottomTime { flex: 1; display: flex; }
      .time_name_disabled { flex: 1; font-size: 28rpx; font-weight: 600; color: #333; align-self: center; }
    }
  }

  ::v-deep .iconUp { text-align: center; font-size: 24rpx; color: #666; padding: 8rpx 0; }
  ::v-deep .orderList { margin: 0 20rpx 20rpx; }
  ::v-deep .orderInfo {
    flex: 1; display: flex; font-size: 28rpx; padding: 10rpx 0 16rpx;
    font-weight: 600; align-items: center; color: #333;
    .text { flex: 1; font-size: 26rpx; font-weight: normal; }
    .may { font-size: 24rpx; }
  }
  ::v-deep .totalMoney {
    border-top: 1px solid #efefef; text-align: right;
    margin-top: 20rpx; padding-top: 20rpx; font-size: 24rpx;
    .text { padding-left: 8rpx; font-weight: 600; color: #333; font-size: 32rpx; text { font-size: 26rpx; } }
  }

  .wrap { width: 100%; margin: 0 auto; .contion { padding: 0 20rpx; } }

  .bottomBox { position: fixed; bottom: 40rpx; left: 20rpx; right: 20rpx; }

  .contactMerchant {
    padding: 26rpx; text-align: center; display: flex; justify-content: space-evenly;
    >button { font-size: 28rpx; color: #333; font-weight: 600; padding: 15rpx 64rpx; flex: 1; }
  }
}